{% extends './base.html' %}
{% block content %}
<div class="container">
    <h1 class="display-4 mb-4 fw-bold text-center">Liste des commandes</h1>
    <center><a href="{% url 'addcommande' %}" class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Add Commandes</a></center>

    <div class="my-4">
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
              <tr>
                <th>ID</th>
                <th>Date de Commandes</th>
              </tr>
            </thead>
            <tbody class="table-light">    
    {% for commande in commandes %}
    <tr>
        <td>{{ commande.id }}</td>
        <td><a href="{% url 'commande_detail' commande.id %}" class="list-group-item list-group-item-action">{{ commande.dateCde }}</a></td>
    </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}